<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>@Title</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="@Description" />
    <meta name="author" content="@Properties["project-author"]" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>@Title</h1>
            <p>@Description</p>
            <p class="view"><a href="@Root/index.html">@Properties["project-name"]</a></p>
            <ul>
                <li><a href="https://github.com/FSCL/FSCL.Runtime/zipball/master">Download <strong>ZIP File</strong></a></li>
                <li><a href="https://github.com/FSCL/FSCL.Runtime/tarball/master">Download <strong>TAR Ball</strong></a></li>
                <li><a href="http://github.com/FSCL/FSCL.Runtime/master">Fork On <strong>GitHub</strong></a></li>
            </ul>
        </header>
        <section>
            @RenderBody()
        </section>
        <footer>
            <p>This project is maintained by <a href="http://github.com/FSCL">@Properties["project-author"]</a></p>
            <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
</body>
</html>
